body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #33ccff 0%, #00ff00 100%);
}


.nav{
background-color: white;
color:black;
height: 40px;
font-size: 40px;
padding: 10px;
margin: 10px;
border-radius: 20px 0 20px 0;

}



.btn{
    background-color: red;
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 10px;

}
.a{
    text-align: center;
    margin: 10px;

}
.b{
    text-align: center;
}
.c{
    border-radius: 20px;

    border: 5px solid black;
    color: black;
    width: 600px;
    height: 50px;
    font-size: 30px;
}
.d{
    background-color: blue;
    color: white;
 width: 100px;
 border-radius: 10px;

    height: 55px;
}
.e{
    background-color: #803300;
    color: white;
 width: 100px;
    height: 55px;
        border-radius: 10px;
        border-radius: 10px;

}
.list{
    border: 2px solid  black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    background-color: white;
    text-align: center;
  
}
.btn1{
    background-color: green;
    color: white;
 width: 80px;
    height: 35px;
    margin:  10px;
    border-radius: 10px;

}
@media only screen and (max-width: 900px){
    .c{
        width: 680px;
        
    }





@media only screen and (max-width: 800px){
    .c{
        width: 680px;
        
    }
    @media only screen and (max-width: 700px){
        .c{
            width: 580px;
            
        }
@media only screen and (max-width: 600px){
    .c{
        width: 480px;
        
    }
    @media only screen and (max-width: 500px){
        .c{
            width: 380px;
            
        }
        @media only screen and (max-width: 400px){
            .c{
                width: 280px;
                margin: 10px;
                
                
            }
            @media only screen and (max-width: 400px){
                .list{
                    
                    font-size: 24px;
                }
            @media only screen and (max-width: 600px){
                .btn{
                    width: 60px;
                    font-size: 9px;
                    height: 30px;

                }
                @media only screen and (max-width: 600px){
                    .btn1{
                        width: 60px;
                        font-size: 9px;
                        height: 30px;
                    }